<ol class="activity-list activity-list--skeleton" aria-hidden="true">
    {% for _ in "1234" %}
    <li class="activity-item activity-item--skeleton">
        <div class="activity-item__icon skeleton skeleton--circle-sm"></div>
        <div class="activity-item__body">
            <span class="skeleton skeleton--badge" style="width: 110px;"></span>
            <span class="skeleton skeleton--md" style="width: 70%; margin-top: 0.45rem;"></span>
            <span class="skeleton skeleton--sm" style="width: 55%; margin-top: 0.35rem;"></span>
            <span class="skeleton skeleton--xs" style="width: 40%; margin-top: 0.5rem;"></span>
        </div>
    </li>
    {% endfor %}
</ol>
