__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
env/
ENV/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage*
htmlcov/
.ipynb_checkpoints/
db.sqlite3
*.sqlite3
.env
.env.*
staticfiles/
static_root/
media/